<style>
#hidden {
  display: none
}
</style>

<%= render partial: 'design', locals: { design: @design } %>

<p class="display-comments"></p>
<button class="js-display-comments" data-id="<%= @design.id%>" data-designer="<%= @design.designer.id %>">Enter and Display Comments</button>
<button class="js-hide" id="hidden">Hide Comments</button><br><br>
<button class="js-next" data-id="<%= @design.id%>">Show Next Design</button>
